<nav class="navbar">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Biblioteca</a>
    
    <button class="navbar-toggler" type="button" (click)="toggleMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <ul class="navbar-nav" [class.show]="menuOpen">
      <li class="nav-item">
        <a class="nav-link" routerLink="/livros" routerLinkActive="active">Livros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/autores" routerLinkActive="active">Autores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/assuntos" routerLinkActive="active">Assuntos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/relatorios" routerLinkActive="active">Relatórios</a>
      </li>
    </ul>
  </div>
</nav>